<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meteo</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.icon-icons.com/icons2/3191/PNG/512/cyclone_weather_world_time_icon_194253.png">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

        :root {
            --gradient: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
        }

        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            line-height: 1.25em;
        }

        .clear {
            clear: both;
        }

        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            font-family: 'Montserrat', sans-serif;
            background-color: #343d4b;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .container {
            border-radius: 25px;
            -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
            background-color: #222831;
            color: #ffffff;
            height: 400px;
        }

        .weather-side {
            position: relative;
            height: 100%;
            border-radius: 25px;
            width: 300px;
            -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
            -webkit-transition: -webkit-transform 300ms ease;
            transition: -webkit-transform 300ms ease;
            -o-transition: transform 300ms ease;
            transition: transform 300ms ease;
            transition: transform 300ms ease, -webkit-transform 300ms ease;
            -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
            transform: translateZ(0) scale(1.02) perspective(1000px);
            float: left;
        }

        .weather-side:hover {
            -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
            transform: scale(1.1) perspective(1500px) rotateY(10deg);
        }

        .weather-gradient {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: var(--gradient);
            border-radius: 25px;
            opacity: 0.8;
        }

        .date-container {
            position: absolute;
            top: 25px;
            left: 25px;
        }

        .date-dayname {
            margin: 0;
        }

        .date-day {
            display: block;
        }

        .location {
            display: inline-block;
            margin-top: 10px;
        }
    
        .location-icon {
            display: inline-block;
            height: 0.8em;
            width: auto;
            margin-right: 5px;
        }

        .weather-container {
            position: absolute;
            bottom: 25px;
            left: 25px;
        }

        .weather-icon.feather {
            height: 60px;
            width: auto;
        }

        .weather-temp {
            margin: 0;
            font-weight: 700;
            font-size: 4em;
        }

        .weather-desc {
            margin: 0;
        }

        .info-side {
            position: relative;
            float: left;
            height: 100%;
            padding-top: 25px;
        }

        .today-info {
            padding: 15px;
            margin: 0 25px 25px 25px;
            /* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
            border-radius: 10px;
        }

        .today-info>div:not(:last-child) {
            margin: 0 0 10px 0;
        }

        .today-info>div .title {
            float: left;
            font-weight: 700;
        }

        .today-info>div .value {
            float: right;
        }

        .week-list {
            list-style-type: none;
            padding: 0;
            margin: 10px 35px;
            -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }

        .week-list>li {
            float: left;
            padding: 15px;
            cursor: pointer;
            -webkit-transition: 200ms ease;
            -o-transition: 200ms ease;
            transition: 200ms ease;
            border-radius: 10px;
        }

        .week-list>li:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            background: #fff;
            color: #222831;
            -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
        }

        .week-list>li.active {
            background: #fff;
            color: #222831;
            border-radius: 10px;
        }

        .week-list>li .day-name {
            display: block;
            margin: 10px 0 0 0;
            text-align: center;
        }

        .week-list>li .day-icon {
            display: block;
            height: 30px;
            width: auto;
            margin: 0 auto;
        }

        .week-list>li .day-temp {
            display: block;
            text-align: center;
            margin: 10px 0 0 0;
            font-weight: 700;
        }

        .location-container {
            padding: 25px 35px;
        }
        #lcl {
            outline: none;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 25px;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            background-image: var(--gradient);
            color: #000000;
            font-weight: 700;
    
        }
        #button {
            outline: none;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: none;
            border-radius: 25px;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            background-image: var(--gradient);
            color: #ffffff;
            font-weight: 700;
            -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            -webkit-transition: -webkit-transform 200ms ease;
            transition: -webkit-transform 200ms ease;
            -o-transition: transform 200ms ease;
            transition: transform 200ms ease;
            transition: transform 200ms ease, -webkit-transform 200ms ease;
        }

        #button:hover {
            -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }

        #button .feather {
            height: 1em;
            width: auto;
            margin-right: 5px;
        }

        .footercontainer {
            display: flex;
            align-items: center;
            max-width: 1300px;
            margin: 0 auto;
            padding: 4rem 1.5rem;
        }

        @media (max-width: 700px) {
            .footercontainer {
                flex-direction: column;
            }
        }

        .footercontent {
            width: 100%;
        }

        .footercopyright {
            color: rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .footeraffiliation {
            color: rgba(0, 0, 0, 0.2);
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .footericons {
            display: flex;
            align-items: center;

            margin-left: auto;
        }

        @media (max-width: 700px) {
            .footericons {
                width: 100%;
                align-items: flex-start;
                margin-left: 0;
                margin-top: 1rem;
            }
        }

        .footericon {
            color: rgba(0, 0, 0, 0.2);
            font-size: 1.25rem;
            text-decoration: none !important;
            transition: color 0.25s ease;
        }

        .footericon:not(:first-child) {
            margin-left: 1rem;
        }

        .footercontainer img {
            height: 36px;
            width: 36px;
            cursor: pointer;
            margin: 0 0 8px 15px;
            transition: all .15s ease-in-out
        }

        .footericon:hover {
            transform: scale(1.2)
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="background-image: url('<%= f %>');" class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">
                <h2 class="date-dayname">
                    <%= j %>
                </h2><span class="date-day">
                    <%= d %>
                </span>
                <i class="location-icon" data-feather="map-pin"></i>
                <span class="location">
                    <%= l %>
                </span>
            </div>
            <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
                <h1 class="weather-temp">
                    <%= t %>°<%= dg %>
                </h1>
                <img class="weather-desc" src="<%= i %>" width="50">
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation"> <span class="title">PRECIPITATION</span><span class="value">
                            <%= p %> %
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity"> <span class="title">HUMIDITER</span><span class="value">
                            <%= h %> %
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind"> <span class="title">VENTS</span><span class="value">
                            <%= v %>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
          
            <div class="location-container">
                <input type="text" id="lcl" placeholder="Ville, Zip, Loc...">
                <br><br>
                <button id="button"> <i data-feather="map-pin"></i><span>Change location</span></button></div>
        </div>
    </div>
    <footer class="footer" id="contact">
        <div class="footercontainer">
            <div class="footericons">
                <a target="_blank" href="https://github.com/llx404" rel="noopener noreferrer" class="footericon"><img
                        src="https://homura-games.com/src/github.png" alt="github" /></a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        document.getElementById("button").onclick = () => {
            var lo = document.getElementById("lcl").value;
            if (!lo) return;
            window.location = "<%= dm %>/meteo/" + lo; 
        }
    </script>
</body>

</html>
<!-- 
   @{Author}: https://github.com/llx404    
 -->