<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Meteo</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.icon-icons.com/icons2/3191/PNG/512/cyclone_weather_world_time_icon_194253.png">
</head>

<body>
    <div class="container">
        <div style="background-image: url('<%= f %>');" class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">
                <h2 class="date-dayname">
                    <%= j %>
                </h2><span class="date-day">
                    <%= d %>
                </span>
                <i class="location-icon" data-feather="map-pin"></i>
                <span class="location">
                    <%= l %>
                </span>
            </div>
            <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
                <h1 class="weather-temp">
                    <%= t %>°<%= dg %>
                </h1>
                <img class="weather-desc" src="<%= i %>" width="50">
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation"> <span class="title">PRECIPITATION</span><span class="value">
                            <%= p %> %
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity"> <span class="title">HUMIDITER</span><span class="value">
                            <%= h %> %
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind"> <span class="title">VENTS</span><span class="value">
                            <%= v %>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
          
            <div class="location-container">
                <input type="text" id="lcl" placeholder="Ville, Zip, Loc...">
                <br><br>
                <button id="button"> <i data-feather="map-pin"></i><span>Change location</span></button></div>
        </div>
    </div>
    <footer class="footer" id="contact">
        <div class="footercontainer">
            <div class="footericons">
                <a target="_blank" href="https://github.com/llx404" rel="noopener noreferrer" class="footericon"><img
                        src="https://homura-games.com/src/github.png" alt="github" /></a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        document.getElementById("button").onclick = () => {
            const lo = document.getElementById("lcl").value;
            if (!lo) return;
            window.location.href = "/meteo/" + lo; 
        }
    </script>
</body>

</html>
<!-- 
   @{Author}: https://github.com/llx404    
 -->